@use "./abstracts";

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .hero {
        &__heading {
            font-size: 6.7rem;
        }
    }
    .hero-col {
        &__promote::after {
            right: -40%;
        }
    }
}

/* PC */
@media (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}
/* Mobile and Tablet*/
@media (max-width: 991.98px) {
    .only-pc {
        display: none;
    }

    .mobile {
        &__modal {
            @include abstracts.position(fixed, $z: 2) {
                inset: 0;
            }

            background-color: rgb(0, 0, 0, 0.6);
            opacity: 0;

            visibility: hidden;

            transition: all 0.5s ease;

            &.show-modal {
                opacity: 1;
                visibility: visible;
            }
        }

        &__drawer {
            @include abstracts.position(fixed, $z: 2) {
                inset: 0 40% 0 0;
            }

            padding: 50px 20px 0 50px;

            background-color: #fff;

            transform: translateX(-100%);
            transition: all 0.5s ease;

            &.show-drawer {
                transform: translateX(0);
            }

            &-top {
                @include abstracts.flex-align($jtf: true);
            }

            &-icon {
                font-size: 2.8rem;
            }
        }

        &__cta {
            margin-top: 20px;

            &-link {
                --btn-height: 48px;
                min-width: 90px;

                border-radius: 6px;

                font-size: 1.6rem;
                color: abstracts.$text-color;
            }

            &-link.btn {
                margin-right: 12px;

                color: #fff;
            }
        }
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        padding: 20px 0 10px;
        border-bottom: 1px solid #9f9d9d;

        &__item {
            padding: 10px 10px 10px 0;
            color: abstracts.$text-color;
        }
    }

    .hero {
        padding: 42px 0 32px;

        &__heading {
            margin-top: 40px;
            font-size: 6rem;
        }
    }


    .features {
        padding: 100px 0 50px;

        &__media {
            height: 330px;
        }

        & .cta-play {
            margin-top: 28px;
        }
    }

    .features-3 {
        padding: 70px 0;
        &__body {
            margin-top: 38px;
            padding-bottom: 30px;
        }

        &-wrap:nth-child(2) {
            margin-top: 38px;
        }
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .features-2 {
        &__body {
            --fea-height: 200px;
            --fea-gap: 16px;
        }

        &-item__body-desc {
            font-size: 1.1rem;
        }
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .hero-col__promote {
        right: 22px;
    }

    .features {
        & .row {
            flex-direction: column-reverse;
        }

        &__content {
            margin-top: 38px;
        }
    }

    .features-2 {
        padding: 20px 0 100px;
    
        &__desc {
            width: 100%;
            margin-top: 12px;
        }
    
        &__body {
            --fea-gap: 16px;
            margin-top: 38px;
        }
    
        &-item {
    
            &:first-child {
            --fea-height: 205px;
                grid-column: 1 / span 12;
            }
    
            &:nth-child(2), &:nth-child(5) {
            --fea-height: 205px;
                grid-column: 1 / span 12;
            }
    
            &:nth-child(3), &:nth-child(4) {
                width: 72%;
                margin: 0 auto;
                grid-column: 1 / span 12;

            }
        }
    
        &__cta {
            margin-top: 38px;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 575.98px) {
    .container {
        --grid-gutter-x: 30px
    }
    .mobile {
        &__cta-link.btn {
            margin-bottom: 12px;
        }

        &__drawer {
            &-top img {
                width: 100px;
            }

            &-icon {
                font-size: 2rem;
            }
        }

        &__cta-link {
            font-size: 1.4rem;
        }
    }

    .nav-mobile {
        &__item {
            font-size: 1.4rem;
        }
    }

    .hero {
        &__heading {
            font-size: 3.6rem;
        }

        &__desc {
            margin-top: 12px;
            font-size: 1.4rem;
        }

        &-col__wrap {
            height: 250px;
        }

        &-col {
            &__listener {
                margin-top: 32px;

                &-title {
                    font-size: 1rem;
                }

                &-avatar ~ &-avatar {
                    margin-left: -10px;
                }

                &-avatar {
                    @include abstracts.flex-center($w: 28px, $circle: true);
                    font-size: 0.7rem;
                }
            }

            &__app {
                column-gap: 10px;
                margin-top: 60px;

                &-icon {
                    width: 20px;
                }
            }

            &__sing {
                width: 145px;
                padding: 10px 0;
                margin: -55px auto 0;
                border-radius: 5px;

                &-singer {
                    font-size: 1.2rem;
                }

                &-name {
                    margin-top: 4px;
                    font-size: 0.9rem;
                }
            }

            &__promote {
                @include abstracts.flex-center(
                    $drt: column,
                    $rg: 2px,
                    $w: 60px,
                    $circle: true
                );

                &-title {
                    font-size: 1rem;
                }

                &-desc {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .audio-player {
        @include abstracts.flex-align($jtf: true);

        width: 130px;
        height: 36px;
        padding: 10px 12px;

        border-radius: 9px;

        background: #fff;

        &::after {
            content: url(../images/wave-small.svg);
        }
    }

    .playPauseBtn {
        @include abstracts.flex-center($w: 16px, $circle: true);
        font-size: 0.8rem;
    }

    .features-3 {
    
        &-item {
            align-items: center;
    
            &__img {
                border-radius: 4px;
                height: 170px;
            }
    
            &__content {
                padding: 17px 0;
            }
    
            &__title {
                @include abstracts.text-styles(1rem, 1);
            }
    
            &__heading {
                margin-top: 7px;
    
                font-size: 1.2rem;
            }
    
            &__cta {
                @include abstracts.flex-align($cg: 4px);

                color: #936cdd;
    
                margin-top: 7px;

                @include abstracts.text-styles(1rem, 1, 600);
    
                &-icon {
                    @include abstracts.flex-center($circle: true, $w: 10px);
                }
            }
        }
    }
}

@media (max-width: 375.98px) {
    .hero {
        &-col__wrap {
            height: 180px;
        }

        &-col {
            &__listener {
                &-title {
                    font-size: 0.8rem;
                }
            }

            &__app {
                &-icon {
                    width: 16px;
                }
            }

            &__sing {
                width: 115px;
                padding: 8px 0;
                margin: -43px auto 0;

                &-singer {
                    font-size: 0.8rem;
                }

                &-name {
                    margin-top: 2px;
                    font-size: 0.7rem;
                }
            }

            &__promote {
                @include abstracts.position(absolute, 5px, 42px);

                @include abstracts.flex-center(
                    $drt: column,
                    $rg: 2px,
                    $w: 48px,
                    $circle: true
                );

                &-title {
                    font-size: 0.8rem;
                }

                &-desc {
                    font-size: 0.6rem;
                }
            }
        }
    }

    .audio-player {
        width: 116px;
    }

    .features {
        &__media {
            height: 238px;
        }
    }
}
