@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero__heading {
    font-size: 6.7rem;
  }
  .hero-col__promote::after {
    right: -40%;
  }
}
/* PC */
@media (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
}
/* Mobile and Tablet*/
@media (max-width: 991.98px) {
  .only-pc {
    display: none;
  }
  .mobile__modal {
    inset: 0;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .mobile__modal.show-modal {
    opacity: 1;
    visibility: visible;
  }
  .mobile__drawer {
    inset: 0 40% 0 0;
    position: fixed;
    z-index: 2;
    padding: 50px 20px 0 50px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .mobile__drawer.show-drawer {
    transform: translateX(0);
  }
  .mobile__drawer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile__drawer-icon {
    font-size: 2.8rem;
  }
  .mobile__cta {
    margin-top: 20px;
  }
  .mobile__cta-link {
    --btn-height: 48px;
    min-width: 90px;
    border-radius: 6px;
    font-size: 1.6rem;
    color: #201830;
  }
  .mobile__cta-link.btn {
    margin-right: 12px;
    color: #fff;
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 0 10px;
    border-bottom: 1px solid #9f9d9d;
  }
  .nav-mobile__item {
    padding: 10px 10px 10px 0;
    color: #201830;
  }
  .hero {
    padding: 42px 0 32px;
  }
  .hero__heading {
    margin-top: 40px;
    font-size: 6rem;
  }
  .features {
    padding: 100px 0 50px;
  }
  .features__media {
    height: 330px;
  }
  .features .cta-play {
    margin-top: 28px;
  }
  .features-3 {
    padding: 70px 0;
  }
  .features-3__body {
    margin-top: 38px;
    padding-bottom: 30px;
  }
  .features-3-wrap:nth-child(2) {
    margin-top: 38px;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .features-2__body {
    --fea-height: 200px;
    --fea-gap: 16px;
  }
  .features-2-item__body-desc {
    font-size: 1.1rem;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .hero-col__promote {
    right: 22px;
  }
  .features .row {
    flex-direction: column-reverse;
  }
  .features__content {
    margin-top: 38px;
  }
  .features-2 {
    padding: 20px 0 100px;
  }
  .features-2__desc {
    width: 100%;
    margin-top: 12px;
  }
  .features-2__body {
    --fea-gap: 16px;
    margin-top: 38px;
  }
  .features-2-item:first-child {
    --fea-height: 205px;
    grid-column: 1/span 12;
  }
  .features-2-item:nth-child(2), .features-2-item:nth-child(5) {
    --fea-height: 205px;
    grid-column: 1/span 12;
  }
  .features-2-item:nth-child(3), .features-2-item:nth-child(4) {
    width: 72%;
    margin: 0 auto;
    grid-column: 1/span 12;
  }
  .features-2__cta {
    margin-top: 38px;
    transform: translateX(-50%);
  }
}
@media (max-width: 575.98px) {
  .container {
    --grid-gutter-x: 30px ;
  }
  .mobile__cta-link.btn {
    margin-bottom: 12px;
  }
  .mobile__drawer-top img {
    width: 100px;
  }
  .mobile__drawer-icon {
    font-size: 2rem;
  }
  .mobile__cta-link {
    font-size: 1.4rem;
  }
  .nav-mobile__item {
    font-size: 1.4rem;
  }
  .hero__heading {
    font-size: 3.6rem;
  }
  .hero__desc {
    margin-top: 12px;
    font-size: 1.4rem;
  }
  .hero-col__wrap {
    height: 250px;
  }
  .hero-col__listener {
    margin-top: 32px;
  }
  .hero-col__listener-title {
    font-size: 1rem;
  }
  .hero-col__listener-avatar ~ .hero-col__listener-avatar {
    margin-left: -10px;
  }
  .hero-col__listener-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 0.7rem;
  }
  .hero-col__app {
    column-gap: 10px;
    margin-top: 60px;
  }
  .hero-col__app-icon {
    width: 20px;
  }
  .hero-col__sing {
    width: 145px;
    padding: 10px 0;
    margin: -55px auto 0;
    border-radius: 5px;
  }
  .hero-col__sing-singer {
    font-size: 1.2rem;
  }
  .hero-col__sing-name {
    margin-top: 4px;
    font-size: 0.9rem;
  }
  .hero-col__promote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .hero-col__promote-title {
    font-size: 1rem;
  }
  .hero-col__promote-desc {
    font-size: 0.8rem;
  }
  .audio-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 36px;
    padding: 10px 12px;
    border-radius: 9px;
    background: #fff;
  }
  .audio-player::after {
    content: url(../images/wave-small.svg);
  }
  .playPauseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0.8rem;
  }
  .features-3-item {
    align-items: center;
  }
  .features-3-item__img {
    border-radius: 4px;
    height: 170px;
  }
  .features-3-item__content {
    padding: 17px 0;
  }
  .features-3-item__title {
    font-size: 1rem;
    line-height: 1;
  }
  .features-3-item__heading {
    margin-top: 7px;
    font-size: 1.2rem;
  }
  .features-3-item__cta {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #936cdd;
    margin-top: 7px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
  }
  .features-3-item__cta-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
@media (max-width: 375.98px) {
  .hero-col__wrap {
    height: 180px;
  }
  .hero-col__listener-title {
    font-size: 0.8rem;
  }
  .hero-col__app-icon {
    width: 16px;
  }
  .hero-col__sing {
    width: 115px;
    padding: 8px 0;
    margin: -43px auto 0;
  }
  .hero-col__sing-singer {
    font-size: 0.8rem;
  }
  .hero-col__sing-name {
    margin-top: 2px;
    font-size: 0.7rem;
  }
  .hero-col__promote {
    position: absolute;
    top: 5px;
    right: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .hero-col__promote-title {
    font-size: 0.8rem;
  }
  .hero-col__promote-desc {
    font-size: 0.6rem;
  }
  .audio-player {
    width: 116px;
  }
  .features__media {
    height: 238px;
  }
}

/*# sourceMappingURL=responsive.css.map */
