@use "../abstracts";
@use "../base";

.features {
    & .row {
        align-items: center;
    }

    padding: 160px 0 80px;

    &__heading {
        @extend .section-heading;
    }

    &__desc {
        @extend .section-desc;
    }

    & .cta-play {
        margin-top: 38px;
        background-color: #936cdd;

        &__title {
            color: #fff;
        }

        &__icon {
            color: #936cdd;
            background-color: #fff;
        }
    }

    &__media {
        position: relative;
        @include abstracts.flex-center($w: 100%, $h: 399px);
        &::before {
            content: "";
            width: 50.4%;
            height: 72%;
            border-radius: 50%;
            opacity: 0.4;
            background: #ff9051;
            filter: blur(129px);
        }

        &-img {
            position: absolute;

            &:first-child {
                left: 32.5%;
                top: 0;
                width: 25.965%;
            }

            &:nth-child(2) {
                left: 0;
                bottom: 39%;
                width: 14.036%;
            }

            &:nth-child(3) {
                left: 29.65%;
                bottom: 0;
                width: 22.11%;
            }

            &:nth-child(4) {
                right: 0;
                top: 14.8%;
                width: 17.544%;
            }

            &:nth-child(5) {
                width: 24.211%;
                bottom: 10%;
                right: 8.42%;
            }
        }
    }
}

.features-2 {
    padding: 80px 0 160px;

    &__heading {
        text-align: center;
    }

    &__desc {
        @extend .features-2__heading;
        width: 42%;
        margin: 18px auto 0;
    }

    &__body {
        --fea-height: 285px;
        --fea-gap: 30px;
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--fea-gap);
    }

    &-item {
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: var(--fea-height);
        background-position: center;

        &:first-child {
            grid-column: 1 / span 4;
            grid-row: 1 / span 2;

            background-image: url(../../assets/images/education.png);

            background-position: 24% 0;
            height: calc(var(--fea-height) * 2 + var(--fea-gap));
        }

        &:nth-child(2) {
            grid-column: 5 / span 5;

            background-image: url(../../assets/images/healthcare.png);

        }

        &:nth-child(3) {
            grid-column: 10 / span 3;

            background-image: url(../../assets/images/music.png);
        }

        &:nth-child(4) {
            grid-column: 5 / span 3;

            background-image: url(../../assets/images/fashion.png);
        }

        &:nth-child(5) {
            grid-column: 8 / span 5;

            background-image: url(../../assets/images/comedy.png);
        }

        &__body {
            flex: 1;

            padding: 16px 24px;

            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 0 0 8px 8px;

            color: #fff;

            &-heading {
                @include abstracts.flex-align($cg: 8px);

                @include abstracts.text-styles(1.8rem, 1.67, 600);

                &::after {
                    content: url(../../assets/icons/fea-Icon.svg);
                }
            }

            &-desc {
                @include abstracts.text-styles(1.4rem, 1.71, 400);
            }
        }
    }

    &__cta {
        margin: 55px 0 0 50%;
        transform: translateX(-50%);
    }
}
