@use "../abstracts";
@use "../base";

.header {
    padding: 42px 0 12px;
    background-color: abstracts.$bg-color;

    &.sticky {
        @include abstracts.position(sticky, $t: -30px, $z: 2);
    }

    &__inner {
        @include abstracts.flex-align($jtf: true);
    }

    &__actions {
        @include abstracts.flex-align($cg: 28px);
    }

    &__btn {
        --btn-height: 48px;

        @extend %btn;

        min-width: 116px;

        font-size: 1.6rem;

        border-radius: 6px;
    }

    &__link {
        color: abstracts.$text-color;
        font-weight: 600;
    }
}

.nav {
    &__list {
        @include abstracts.flex-align;
    }

    &__item {
        padding: 10px 24px;

        color: abstracts.$text-second-color;

        transition: all 0.2s linear;

        &:hover {
            @extend .header__link;
        }
    }
}

.sub-nav {
    position: relative;

    &:hover &__list {
        display: block;
    }

    &__title {
        @include abstracts.flex-align($cg: 7px);

        padding: 10px 24px;

        color: abstracts.$text-second-color;

        transition: all 0.2s linear;

        &:hover {
            @extend .header__link;
            cursor: pointer;
        }

        svg {
            margin-top: 4px;
        }
    }

    &__list {
        @include abstracts.position(absolute, $l:24px, $b: -117px);

        display: none;

        border: 1px solid #e9e3e3;
        border-radius: 4px;

        background-color: abstracts.$bg-color;

        animation: fade 0.2s linear;
    }

    &__item {
        display: block;

        min-width: 120px;
        padding: 12px;

        color: abstracts.$text-second-color;
        font-size: 1.4rem;

        transition: all 0.2s linear;

        &:hover {
            @extend .header__link;
        } 
    }
    
    & li:not(:first-child) &__item{
        border-top: 1px solid #e9e3e3;
    }
}




