@use "../abstracts";
a {
    text-decoration: none;
    display: inline-block;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
}

input {
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

%btn {
    --btn-height: 64px;
    min-width: 157px;
    height: var(--btn-height);

    border-radius: 8px;

    color: #fff;
    background-color: #201830;

    text-align: center;

    @include abstracts.text-styles(1.8rem, var(--btn-height), 600);

    transition: opacity 0.2s linear;
}

.btn {
    @extend %btn;

    &:hover {
        opacity: 0.8;
    }
}

.container {
    --grid-gutter-x: 0px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: left top;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: left top;
    }
}

.audio-player {
    position: relative;
    transform: translateY(-50%);

    @include abstracts.flex-align($jtf: true);

    width: 194px;
    height: 60px;
    padding: 17px 21px;
    margin: 0 auto;

    border-radius: 9px;

    background: #fff;

    &::after {
        content: url(../../assets/images/wave.svg);
    }
}

.playPauseBtn {
    @include abstracts.flex-center($w: 26px, $circle: true);
    flex-shrink: 0;

    background: #fff;
    border: 1px solid #936cdd;
    color: #936cdd;
    cursor: pointer;
    font-size: 1rem;
}

.cta-play {
    @include abstracts.flex-center($w: 157px, $h: 64px, $cg: 8px);
    background-color: transparent;

    border-radius: 8px;

    &:hover {
        opacity: 0.8;
    }

    &__title {
        @include abstracts.text-styles(1.8rem, 1.67, 600);
        color: abstracts.$text-color;
    }

    &__icon {
        @include abstracts.flex-center($circle: true, $w: 18px);
        flex-shrink: 0;
        background-color: abstracts.$text-color;
        color: #fff;

    }
}

.section {
    &-heading {
        @include abstracts.text-styles(4.2rem, 1.24, 700);
        @media (max-width: 768px) {
            @include abstracts.text-styles(2.6rem, 1.38);
        }

        color: abstracts.$text-color;

        &__decor {
            display: inline-block;
            height: 1.24em;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                @include abstracts.position(absolute, $b: -65.4%, $l: 0, $z: -1);
                background-image: url(../../assets/images/hero-decor-2.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

    &-desc {
        margin-top: 18px;

        @include abstracts.text-styles($lh: 1.75);
        @media (max-width: 768px) {
            @include abstracts.text-styles(1.4rem, 1.71);
            margin-top: 12px;
        }

        color: abstracts.$text-second-color;
    }
}

.swiper-pagination {
    --swiper-pagination-bottom: 0;
    z-index: 1;
    &-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D8D5DE;
        @media (max-width: 575.98px) {
            width: 5px;
            height: 5px;
        }

        &-active {
            background-color: #936cdd;
            scale: 1.4;
        }
    }
}
