@mixin flex-align($jtf: false, $cg: null) {
    display: flex;
    align-items: center;
    justify-content: if($jtf == false, null, space-between);
    column-gap: $cg;
}

@mixin flex-center($drt: null, $rg: null, $cg: null, $circle: false, $w: null,  $h: $w) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $drt;
    row-gap: $rg;
    column-gap: $cg;

    width: $w;
    height: $h;
    border-radius: if($circle == false, null, 50%);
};

@mixin position($pst, $t: null, $r: null, $b: null, $l: null, $z: null) {
    @content;
    position: $pst;
    top: $t;
    left: $l;
    right: $r;
    bottom: $b;
    z-index: $z;
}

@mixin text-styles($fz: null, $lh: null, $fw: null){
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
}
